{% extends 'backend.html.twig' %}

{% block title %}Backend{% endblock %}
{% block body %}

    <!-- Info boxes -->
    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Stores count</span>
                    <span class="info-box-number">{{ stores }}</span>
                </div>
                <!-- /.info-box-content -->
                <a class="info-box-footer" href="{{ path('store_backend') }}">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                <!-- /.info-box-footer -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Categories count</span>
                    <span class="info-box-number">0</span>
                </div>
                <!-- /.info-box-content -->
                <a class="info-box-footer" href="{{ path('categories_backend') }}">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                <!-- /.info-box-footer -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Products count</span>
                    <span class="info-box-number">{{ products }}</span>
                </div>
                <!-- /.info-box-content -->
                <a class="info-box-footer" href="{{ path('store_backend') }}">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                <!-- /.info-box-footer -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Products count (last weak)</span>
                    <span class="info-box-number">{{ products_last_week }}</span>
                </div>
                <!-- /.info-box-content -->
                <a class="info-box-footer" href="{{ path('store_backend') }}">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                <!-- /.info-box-footer -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock %}
